/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav, .jumbotron h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.nav {
	font-size: 16px;
}

.navbar-inverse {
	background-color: black;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
  color: white;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li.active>a {
    border-bottom: 1px solid;
    padding-bottom: 12px;
    font-weight: 600;
}

footer {
	background-color: black;
    padding-top: 50px;
    position: relative;

}

.jumbotron {
	text-align: center;
	background-image: url("../images_test/partition2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 0px 40px 0px;
}

.jumbotron h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 90px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 50px;
	color: white;
	text-shadow: -12px 10px 12px black;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
	color: white;
	padding: 0px 200px;
}

.container {
	text-align: center;
}

.btn-lg {
	font-size: 36px;
}

.col-md-3, .col-md-4, .col-md-6 {
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 	color: black;
}

.col-md-3 a, .col-md-4 a, .col-md-6 a {
 	color: black;
}

.container h2 h3 {
	text-align: center;
	font-style: italic;
}

.container h2 {
	font-weight: 600;
	margin-bottom: 20px;
}


.col-md-4 {
	padding: 10px;
	text-align: center;
}

.col-md-4 h2 {
	font-weight: 700;
}

.col-md-6 {
	padding: 10px 40px;
	text-align: center;
}
.col-md-6 h2 {
	font-weight: 700;
}

.col-md-6 h3 {
	font-weight: 500;
}

.homepage hr {
	border-top: 2px solid black;
	width: 600px;
}

.container hr {
	border-top: 2px solid black;
}

#calendar p {
	padding-bottom: 21px;
}

/* info for modal Calendar */

.modal-content h1 {
	font-size: 30px;
    font-weight: 700;
}

.modal-content h2 {
	font-size: 20px;
	margin-bottom: 0px;
}

.modal-content h3, .modal-content p {
	margin: 0px;
	padding-bottom: 0px;
}

.modal-content h3 {
	font-size: 16px;
	text-align: left;
	padding-left: 7px;
	font-weight: 700;
}

#modal-button {
	position: absolute;
    margin-left: -45px;
    top: 50%;
    margin-top: -20px;
}

.modal-content .close {
	position: absolute;
    right: 7px;
}

/* Responsive styling */
@media (max-width: 1199px) {

	.jumbotron h1 {
		font-size: 80px;
		margin-bottom: 30px;
	}

}

@media(max-width: 991px) {

	.jumbotron h1 {
		font-size: 70px;
		margin-bottom: 0px;
	}

	.container h3 {
		font-size: 20px;
	}

	.jumbotron p {
		padding: 10px;
	}

	.col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#calendar p {
	padding-bottom: 0px;
}
}


@media (max-width: 767px) {

	.jumbotron h1 {
		font-size: 40px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.container h2 {
		font-size: 25px;
	}

	.container h3 {
		font-size: 20px;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}

	footer img {
		width: 80%;
	}

}