/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav, .jumbotron h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.nav {
	font-size: 16px;
}

.navbar-inverse {
	background-color: black;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
  color: white;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li.active>a {
    border-bottom: 1px solid;
    padding-bottom: 12px;
    font-weight: 600;
}

footer {
	background-color: black;
    padding-top: 50px;
    position: relative;
}

.jumbotron {
	text-align: center;
	background-image: url("../images_test/partition2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px 150px 0px;
	margin-bottom: 0;
	position: relative;
}

#home {
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    opacity: .8;
    position: absolute;
    width: 900px;
    left: 0%;
    bottom: -18px;
    border-radius: 20px 20px 1000px 100px;
}

.jumbotron h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 80px;
	font-weight: 700;
	margin-top: 0px;
	color: white;
	text-shadow: -6px 10px 30px #666;
	text-align: left;
	padding-left: 20px;
    padding-right: 20px;
}

.jumbotron p {
	font-weight: 100;
	padding: 0 50px;
	color: white;
	padding: 0px 200px;
}

.container {
	color: #333;
	position: relative;
}

.container h2 {
	margin-top: 30px;
	margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
}

#book-description h1 {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 28px;
    font-weight: 700;
}

#book-description h2 {
	text-align: left;
	margin-bottom: 10px;
	font-size: 20px;
    letter-spacing: 0;

}

#book-description p {
	text-align: left;
	margin-bottom: 10px;
}

.container hr {
	border-top: 1px solid #333;
	margin-top: 35px;
	margin-bottom: 35px;
}

#book {
	float: left;
	height: 100px;
	margin-right: 30px;
}

#foot-menu h1 {
	font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-top: 0px;
}

#foot-menu li {
	display: inline;
	
}

#foot-menu ul {
	text-align: center;
	margin-bottom: 40px;
}

#foot-menu a {
	border: 1px dotted black;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    background-color: #dfe6e9;
    margin-right: 41px;
}

#foot-menu a:hover {
	background-color: #bdc3c7;
}


.site-footer {
	padding: 40px 0px
}

.site-footer p {
	color: white;
}

/* Share buttons top */

#share-buttons {
  font-size: 40px;
  font-weight: 700;
  display: inline;
}

#share-buttons img {
  width: 35px;
  border: 0;
  box-shadow: 0;
  display: inline;
  vertical-align: text-top;
  margin-bottom: 0;
}


/* Responsive styling */
@media (max-width: 1199px) {

	.jumbotron h1 {
		font-size: 70px;
		margin-bottom: 10px;
	}

	#home {
		padding-bottom: 0px;
		width: 800px;
	}

	#calendar p {
	padding-bottom: 0px;
	}
}

@media(max-width: 991px) {

	.jumbotron h1 {
		font-size: 60px;
	}

	#home {
		width: 670px;
	}

	#vision {
		width: 350px;
	}

	#subscribe {
		width: 380px;
	}

	#vision h2, #subscribe h2 {
		font-size: 18px;
	}

	#vision h3, #subscribe p {
		font-size: 14px;
	}

	#subscribe .center {
    padding-left: 60px;
	}

	.container h3 {
		font-size: 20px;
	}

	.jumbotron p {
		padding: 10px;
	}

	.col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}


@media (max-width: 767px) {

	.jumbotron h1 {
		font-size: 40px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.container h2 {
		font-size: 25px;
	}

	.container h3 {
		font-size: 20px;
	}

	#home {
    width: 460px;
    bottom: 38px;
	}

	#vision {
		top: -5px;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}

	#share-buttons {
		float: left;
	}

}
