
body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.nav, .jumbotron h1 {
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.nav {
	font-size: 16px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  width: 355px;
  padding: 10px;
}

.navbar-brand h1 {
  font-weight: 700;
  color: #f1f2f6;
}

.navbar-brand img {
  max-width: 110px;
  float: left;
}

.navbar-brand h1 {
  margin-top: 5px;
  margin-left: 135px;
}

.navbar-inverse {
	background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
  color: white;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse a:hover, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
    font-weight: 600;
    border-bottom: 1px solid #f1f2f6;
  }


.jumbotron {
  background-image: url(../images_test/pizza1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
  color: #f1f2f6;
  padding-bottom: 100px;
  margin-bottom: 0;
}

#top-row {
  margin-top: 90px;
}

#home h1 {
  font-size: 50px;
  margin-bottom: 75px;
  text-shadow: 2px 2px 10px #333;
}

#key-points {
  background-color: rgba(0, 0, 0,.6);
  border-radius: 7px;
  text-align: center;
  padding-top: 25px;
  padding: 20px 0px;
}

#key-points h2 {
      font-size: 18px;
      margin-bottom: 0;
}

#border-right {
  border-right: 1px solid #f1f2f6;
}

#order {
    text-align: center;
    background-color: #ecf0f1;
    padding: 3px 38px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    margin-top: 20px;
}

#order h2 {
    color: #2d3436;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 35px;
}
.btn-sm {
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
}

#deals {
    background-color: #f5f6fa;
    padding-top: 25px;
    padding-bottom: 50px;
}

#deals h1 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 25px;
}

.col-md-3 {
  text-align: center;
  padding: 0px 0px 20px 0px;
  width: 22%;
  margin: 1.25%;
  background-color: white;
  box-shadow: 0px 0px 10px;
  position: relative;
}

.col-md-3 img {
  width: 100%;
}

.col-md-3 h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}

.col-md-3 p {
    font-size: 20px;
    color: #c23616;
    font-weight: 600;
}

.logo-sm {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 38%;
    top: 41%;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
}

/* Footer layout */

footer {
  background: black;
  padding-top: 25px;
  color: #f1f2f6;
}

#share-buttons img {
  height: 40px;
  margin-left: 10px;
}