.jumbotron {
   padding: 25px 0;
}

.container {
	text-align: center;
}

.row-example:after {
  clear: both;
  content: " ";
  display: table;
}

.example-2 {
  width: 33.33333%;
  float: left;
}

.inner-example {
  background-color: #eee;
  margin: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 6px #999;
  padding: 20px;
}

.inner-example img {
  border: 2px solid black;
  max-width: 100%;
  margin-bottom: 20px;
}

.inner-example h3 {
  margin: 5px;
  font-size: 20px;
  padding-bottom: 20px;
}

.inner-example:hover {
	background-color: #ddd;
}

.inner-example a:hover {
	text-decoration: none;
}


.sticky-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer p {
	color: white;
}

/* Responsive Styling */

@media(max-width: 991px) {

  .jumbotron {
        padding: 25px 0;
  }

  .inner-example {
    padding: 2px;
    min-height: 139px;
  }

  .inner-example img {
    margin-bottom: 5px;
  }

  .inner-example h3 {
        font-size: 18px;
  }
}

@media (max-width: 767px) {

   .inner-example h3 {
        font-size: 12px;
  }


}