/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav, .jumbotron h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.nav {
	font-size: 16px;
}

.navbar-inverse {
	background-color: black;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
  color: white;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li.active>a {
    border-bottom: 1px solid;
    padding-bottom: 12px;
    font-weight: 600;
}


.jumbotron {
	text-align: center;
	background-image: url("../images_test/partition2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px 390px 0px;
	margin-bottom: 0;
	position: relative;
}

#home {
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    opacity: .8;
    position: absolute;
    width: 900px;
    left: 10%;
    top: 50px;
    border-radius: 20px 20px 1000px 100px;
}

#vision {
    padding: 15px 20px 0px 20px;
	background-color: black;
	position: absolute;
	width: 450px;
	opacity: .8;
	right: 15%;
    top: 205px;
    border-radius: 20px 100px 20px 1000px;
}

#vision h2 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 0;
	font-size: 20px;
	color: white;
	text-align: right;
}

#vision h3 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: white;
	padding: 0px 0px 0px 30px;
	text-align: right;
}

#subscribe {
	padding: 15px 20px 0px 20px;
    background-color: black;
    opacity: .8;
    position: absolute;
    width: 450px;
	left: 10%;
    top: 270px;
    border-radius: 100px 20px 1000px 20px;
}

#subscribe h2 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 0;
	font-size: 20px;
	color: white;
	text-align: left;
}

#subscribe p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: white;
	padding: 0px 30px 0px 0px;
	text-align: left;
}

#subscribe .form-group {
  margin-top: 15px;
}

#subscribe .form-control {
	width: 75%;
}

#subscribe .center {
  padding-left: 80px;	
}

#subscribe .btn-warning {
  background-color: #f39c12;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #34495e;
  border: none;
  opacity: 1;
}

#subscribe .btn-warning:hover {
  background-color: #2c3e50;
}

.jumbotron h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 80px;
	font-weight: 700;
	margin-top: 0px;
	color: white;
	text-shadow: -6px 10px 30px #666;
	text-align: left;
	padding-left: 20px;
    padding-right: 20px;
}

.jumbotron p {
	font-weight: 100;
	padding: 0 50px;
	color: white;
	padding: 0px 200px;
}

.btn-lg {
	font-size: 36px;
}

.container h2 {
	text-align: center;
}

#resources, #information {
	background-color: #dfe6e9;
}

#events {
	background-color: #bdc3c7;
}


#calendar p {
	padding-bottom: 21px;
}

.container hr {
	border-top: 2px solid #333;
	width: 300px;
	margin-top: 0;
	margin-bottom: 30px;
}

.col-md-4 {
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 	background: radial-gradient(white 27%, #dfe6e9 76%);
}

.col-md-6 {
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 	background: radial-gradient(white -16%, #bdc3c7 54%);
}

.container h2 h3 {
	text-align: center;
	font-style: italic;
}

.container h2 {
	font-weight: 600;
	margin-bottom: 10px;
}

.col-md-4 {
	padding: 10px;
	text-align: center;
}

.col-md-4 h2 {
	font-weight: 700;
}

.col-md-6 {
	padding: 10px 40px;
	text-align: center;
}
.col-md-6 h2 {
	font-weight: 700;
}

.col-md-6 h3 {
	font-weight: 500;
}

.site-footer {
	padding: 40px 0px
}

.site-footer p {
	color: white;
}

/* Share button top */

#share-buttons {
  font-size: 40px;
  font-weight: 700;
  display: inline;
}

#share-buttons img {
  width: 35px;
  border: 0;
  box-shadow: 0;
  display: inline;
  vertical-align: text-top;
  margin-bottom: 0;
}

footer {
	background-color: black;
    padding: 30px 0px 40px 0px;
    position: relative;
}

footer h2 {
	font-weight: 500;
    font-size: 24px;
    color: white;
    padding-bottom: 20px;
}


/* Modal Calendar */

.modal-content h1 {
	font-size: 30px;
    font-weight: 700;
}

.modal-content h2 {
	font-size: 20px;
	margin-bottom: 0px;
}

.modal-content h3, .modal-content p {
	margin: 0px;
	padding-bottom: 0px;
}

.modal-content h3 {
	font-size: 16px;
	text-align: left;
	padding-left: 7px;
	font-weight: 700;
}

#modal-button {
	position: absolute;
    margin-left: -45px;
    top: 50%;
    margin-top: -20px;
}

.modal-content .close {
	position: absolute;
    right: 7px;
}

/* End Modal Calendar */
/* Layout for Books page */


#resources-page {
	padding: 150px 0px 150px 0px;
}

.blog-main h2 {
	margin-top: 30px;
	margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
}

#book-description h1 {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 28px;
    font-weight: 700;
}

#book-description h2 {
	text-align: left;
	margin-bottom: 10px;
	font-size: 20px;
    letter-spacing: 0;

}

#book-description p {
	text-align: left;
	margin-bottom: 10px;
}

/* Left column filter */

#book-page h3 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Search categories */


#book-page hr {
	border-top: 1px solid #333;
	margin-top: 35px;
	margin-bottom: 35px;
	width: auto;
}

#book {
	float: left;
	height: 100px;
	margin-right: 30px;
}

#book-page {
    overflow: hidden;
}

#myBtnContainer li {
	list-style-type: none;
	padding-bottom: 5px;
}

#myBtnContainer, #filter {
	width: 200px;
}

#myBtnContainer {
    margin-top: 20px;
}


.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 8px 16px;
  margin: 0px 15px 15px 0px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: 600;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #dfe6e9;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #bdc3c7;
}
/* End Search Categories */

/* Foot menu buttons */

#foot-menu h1 {
	font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}

#foot-menu li {
	display: inline;
}

#foot-menu ul {
	text-align: center;
	margin-bottom: 40px;
}

#foot-menu a {
	border: 1px dotted black;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    background-color: #dfe6e9;
    margin-right: 41px;
}

#foot-menu a:hover {
	background-color: #bdc3c7;
}

.site-footer {
	padding: 40px 0px
}

.site-footer p {
	color: white;
}


/* Responsive styling */
@media (max-width: 1199px) {

	.jumbotron h1 {
		font-size: 70px;
		margin-bottom: 10px;
	}

	#home {
		padding-bottom: 0px;
		width: 740px;
	}

	#home h1 {
		font-size: 65px;
	}

	#vision {
		width: 346px;
		padding-left: 16px;
		right: 9%;
	}

	#subscribe {
		width: 430px;
	}

	#calendar p {
	padding-bottom: 0px;
	}

	.blog-main h2 {
		letter-spacing: 0;
	}

}

@media(max-width: 991px) {

	.jumbotron h1 {
		font-size: 60px;
	}

	#home {
		width: 570px;
	}

	#home h1 {
		font-size: 50px;
	}

	#vision {
		width: 350px;
		top: 155px;
	}

	#subscribe {
		width: 360px;
	}

	#vision h2, #subscribe h2 {
		font-size: 18px;
	}

	#vision h3, #subscribe p {
		font-size: 14px;
	}

	#subscribe .center {
    padding-left: 30px;
	}

	.container h3 {
		font-size: 20px;
	}

	.jumbotron p {
		padding: 10px;
	}

	.col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#resources-page {
		padding-bottom: 100px;
	}

	#myBtnContainer, #filter {
    width: 172px;
	}

	.blog-main h2 {
		font-size: 20px;
		margin-top: 15px;
	}

	#book-page hr {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	#book-description h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}
}


@media (max-width: 767px) {

	#home {
		width: 280px;
    	height: 100px;
    	top: 30px;
	}

	#home h1 {
		font-size: 37px;
	}

	.container h2 {
		font-size: 25px;
	}

	.container h3 {
		font-size: 20px;
	}


	#vision {
		top: 165px;
		width: 270px;
	}

	#vision h2 {
		font-size: 16px;
	}

	#subscribe {
		top: 290px;
		width: 270px;
	}

	.form-control {
		height: 25px;
		font-size: 12px;
	}

	.btn {
		padding: 4px 4px;
    	font-weight: 400;
    }

	#subscribe .btn-warning {
    	margin-top: 0;
	}

	#subscribe .center {
		padding: 0;
	}

	.homepage p {
		font-size: 18px;
	}

	#share-buttons {
		float: left;
	}

	#resources-page {
    	padding-bottom: 30px;
    }

    #book-page h3 {
    	margin-top: 20px;
    }

    #myBtnContainer, #filter {
    	width: auto;
    	text-align: center;
    }

    .blog-main h2 {
    margin-bottom: 0px;
	}

	#book-page hr {
    margin-top: 10px;
    margin-bottom: 10px;
	}

	#book-description h1 {
    margin-bottom: 10px;
	}

    #book-description h2 {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
}
